* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  overflow: hidden;
}

button:hover, a:hover, span:hover {
  opacity: 75%;
  cursor: pointer;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

#panel1 {
  transform: translateX(0);
}

#panel2 {
  transform: translateX(100%);
}

#panel3 {
  transform: translateX(200%);
}

.harold {
  filter: grayscale();
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: -20%;
  top: 0%;
  z-index: 1;
}

.background {
  width: 100%;
  height: 100%;
  filter: grayscale() blur(10px);
  opacity: 50%;
  position: absolute;
  z-index: -1;
}

.content {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  margin-right: 5rem;
  text-align: center;
}

.title {
  font-family: 'Cabin', sans-serif;
  font-size: 8rem;
  width: 100%;
  color: whitesmoke;
}

.subtitle {
  font-family: 'Mulish', sans-serif;
  font-size: 1.5rem;
  color: #e9c46a;
  text-align: center;
  margin-top: 2rem;
}

.begin {
  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: center;
  color: #343a40;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  background-color: #e9c46a;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

#timeline {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  stroke-dasharray: 1920;
  stroke-dashoffset: 1920;
}

.timeline-animation {
  animation: dash 1.5s linear forwards;
  animation-delay: 0.5s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#document {
  background-image: url(./assets/paper-texture.jpg);
  filter: grayscale(35%);
  width: 35rem;
  height: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  text-align: left;
  transition: transform 0.5s ease;
}

#document .title {
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  color: black;
  font-family: 'Special Elite', monospace;
}

#document .bodyText {
  font-family: 'Special Elite', monospace;
  padding: 2rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

#document span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 2rem;
  line-height: 1.7rem;
}

#document a {
  font-family: 'Special Elite', monospace;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  position: absolute;
  opacity: 0%;
}

#portrait {
  background-image: url(./assets/paper-texture.jpg);
  filter: grayscale(35%);
  width: 35rem;
  height: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(110%);
  top: 5%;
  text-align: left;
  transition: transform 0.5s ease;
}

#portrait .portraitImg {
  margin: 2rem;
  opacity: 98%;
  box-shadow: 10px 5px 25px black;
  position: absolute;
  top: -20px;
  left: -20px;
  float: left;
}

#portrait .title {
  padding-left: 2rem;
  padding-top: 1rem;
  font-size: 1.4rem;
  color: black;
  font-family: 'Special Elite', monospace;
  position: relative;
  left: 50%;
  transform: translateX(-7%);
  width: 47%;
  overflow-wrap: break-word;
  line-height: 1.7rem;
}

#portrait .full {
  margin-left: 2rem;
  padding-top: 1rem;
  font-size: 1.3rem;
  color: black;
  font-family: 'Special Elite', monospace;
  width: 90%;
  position: relative;
  left: -0.5rem;
  line-height: 1.7rem;
}

.paperclip {
  z-index: 2;
  width: 15%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  padding: 0;
  position: absolute;
  top: -2rem;
  left: 0.5rem;
  filter: drop-shadow(-2px 0px 2px black);
}

.fade {
  animation: 2s ease 0.1s normal forwards 1 fade;
}

@keyframes fade {
  to {
    opacity: 100%;
  }
}