* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
}

.layer {
  height: 100vh;
  overflow: hidden;
}

.harold {
  filter: grayscale();
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: -25%;
  z-index: 1;
}

.background {
  width: 100%;
  height: 100%;
  filter: grayscale() blur(10px);
  opacity: 50%;
}

.content {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  overflow: hidden;
}

.title {
  font-family: 'Cabin', sans-serif;
  font-size: 17rem;
  color: whitesmoke;
}

.subtitle {
  font-family: 'Mulish', sans-serif;
  font-size: 2rem;
  color: #e9c46a;
  text-align: center;
}